<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1 class="title">Works Page</h1>
    <ul class="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li class="active"><a href="/works">Works</a></li>
    </ul>
    <ul class="works">
        <li class="bold">Academy Awards</li>
        <li>1995: The Lion King (Best Original Score)</li>
        <li>2022: Dune (Best Original Score)</li>
        <li class="bold">British Academy Film Awards</li>
        <li>2022: Dune (Best Original Music)</li>
        <li class="bold">Golden Globe Awards</li>
        <li>1995: The Lion King (Best Original Score)</li>
        <li>2001: Gladiator (Best Original Score; shared with Lisa Gerrard)</li>
        <li>2022: Dune (Best Original Score)</li>
        <li class="bold">Grammy Awards</li>
        <li>1995: The Lion King (Best Instrumental Arrangement with Accompanying Vocals; shared with Lebo M)</li>
        <li>1995: The Lion King (Best Musical Album for Children; shared with Mark Mancina, Jay Rifkin, and Chris Thomas)</li>
        <li>1996: Crimson Tide (Best Instrumental Composition Written for a Motion Picture or for Television)</li>
        <li>2009: The Dark Knight (Best Score Soundtrack Album for a Motion Picture, Television or Other Visual Media; shared with James Newton Howard)</li>
        <li class="bold">Satellite Awards</li>
        <li>1999: The Thin Red Line</li>
        <li>2001: Gladiator</li>
        <li>2004: The Last Samurai</li>
        <li>2010: Inception</li>
        <li>2022: Dune</li>
        <li class="bold">Saturn Awards</li>
        <li>2009: The Dark Knight (shared with James Newton Howard)</li>
        <li>2011: Inception</li>
        <li>2015: Interstellar</li>
    </ul>
</body>

</html>